@import './variables.scss';
@import '~bootstrap/scss/bootstrap.scss';

@import './bootstrap-customisation.scss';
@import './codemirror-customisation.scss';
@import './js-lessons.scss';
@import './loader.scss';
@import './resource-pages.scss';
@import './result-set-table.scss';
@import './reveal-customisation.scss';
@import './vscode-dark.scss';

html, body, #root {
  height: 100%;
  background: $dark;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.btn {
  transition: transform 0.2s;

  &:active {
    transform: scale(0.95);
  }
}

[hidden] {
  display: inherit !important;
}

@include media-breakpoint-down(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 12px;
  }
}
