.reveal {
  font-size: 36px;

  .slides {
    width: 95% !important;
  }

  .slide-number {
    right: 42px;
    bottom: 32px;
    width: 36px;
    background: none;
    text-align: center;
  }

  code {
    font-family: $font-family-code;
  }
}

@include media-breakpoint-down(md) {
  .reveal {
    font-size: 30px;
  }
}

@include media-breakpoint-down(sm) {
  .reveal {
    font-size: 24px;
  }
}
